body {
	font-family: Convergence, arial, helvectica;
	font-size: 90%;
	margin: 0;
}

html, body {
	height: 100%;
}

#container { 
	min-width: 1100px;
	min-height: 100%;
	position: relative;
 }

p {
	line-height: 2em;
	margin: 0;
	padding: 1em 0 1em 0;	
}

h1 {
	font-family: Great Vibes, Arial, georgia;
	font-size: 300%;
	margin-left: 1em; 	
}	

#submit {
	color: white;
	font-size: 18px;
	font-family: Convergence, Arial, helvectica;
	width: 75px;
	height: 45px;
	border: 1.5px solid #22E180;
	margin: 0;
	padding: 0;
	background: #1EB164;
}

#header_content {
	background-color: #515151;
	border-bottom: 1px solid #22E180;
}

#form_area {
	float: right;
	margin: 2em 4em 2em 0;
	padding: 1em 2em 0 2em;
	width: 30%;
	border: 1px solid black;
}

#dashboard { 
	height: relative;
	float: left;
	margin: 2em 0 0 2em;
	border: 1px solid black;
	width: 35em;
	padding: 1em 1em 0 1em;
}

#income-stat {
	border-color: grey;
}

#expense-stat {
	border-color: red;
}

#balance-stat {
	border-color: blue;
}

.stat-box {
	height: 4em;
	width: 9em;
	text-align: center;
	border: 1px solid;
	float: left;
	margin-right: 2.5em;
}

.stat-type { padding-top: 0; }

.demo-text, demo-transactions {
	font-size: 90%;
	padding-top: 10em;
}

#transaction_type$ {
	margin-right: 35em;
}

#description_notes, #calander_info {
	padding-top: 2em;
	border-top: 1px solid #22E180;
}

#footer {
	
}







.soft-padding-all, .soft-padding-top {padding-top: .5em; }
.soft-padding-all, .soft-padding-bottom {padding-bottom: .5em; }
.soft-padding-all, .soft-padding-left {padding-left: .5em; }
.soft-padding-all, .soft-padding-right {padding-right: .5em; }

.hard-padding-all, .hard-padding-top {padding-top: 1em; }
.hard-padding-all, .hard-padding-bottom {padding-bottom: 1em; }
.hard-padding-all, .hard-padding-left {padding-left: 1em; }
.hard-padding-all, .hard-padding-right {padding-right: 1em; }

.soft-margin-all, .soft-margin-top { margin-top: .5em; }
.soft-margin-all, .soft-margin-bottom { margin-bottom: .5em; }
.soft-margin-all, .soft-margin-left { margin-left: .5em; }
.soft-margin-all, .soft-margin-right { margin-right: .5em; }

.hard-margin-all, hard-margin-top { margin-top: 1em; }
.hard-margin-all, hard-margin-bottom {margin-bottom: 1em; }
.hard-margin-all, hard-margin-left {margin-left: 1em; }
.hard-margin-all, hard-margin-right {margin-right: 1em; }

.extra-hard-margin-right {margin-right: 2em;}