body, input, textarea {
	font-family: Quattrocento, georgia, helvectica;
	font-size: 90%;
	margin: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	min-width: 1100px;
	margin: 0 auto -100px;
}

p {
	
	margin: 0;
	padding: 1em 0 1em 0;
}

h1 {
	font-family: Great Vibes, Arial, georgia;
	font-size: 300%;
	margin-left: 1em; 	
}	

h2, label { 
	font-family: Lato, Arial; 
	font-weight: 300;
	font-size: 120%;
}

#submit {
	color: white;
	font-size: 120%;
	text-align: center;
	font-family: Quattrocento, georgia, helvectica;
	width: 5em;
	height: 2.5em;
	border: 1.5px solid #22E180;
	margin: 1em 0 1em 0;
	padding: 0;
	background: #1EB164;
}

#header-content {
	background-color: #515151;
	border-bottom: 2px solid grey;
}

#form-area {
	line-height: 2em;
	float: right;
	margin: 2em 4em 0 0;
	width: 35%;
}

#dashboard { 
	line-height: 1.5em;
	height: 100%;
	float: left;
	margin: 2em 0 0 4em;
	border: 1px solid black;
	width: 35em;
	padding: 2em 1em 1em 1em;
}

.stat-area { 
	margin-bottom: 3em; 
	overflow: auto;
}

.income-stat, .expense-stat, .balance-stat { font-size: 130%; }

.stat-box {
	text-align: center;
	vertical-align: middle;
	float: left;
	padding: 1em 1em 0em 1em;
	margin-right: 2em;
	border: 1px solid #22E180;
}

#transactions > h2 {
	border-bottom: 1px solid #22E180;
}

#description-notes, #calander-info {
	padding-top: 2em;
	border-top: 1px solid #22E180;
}

.transaction-record {
	margin-bottom: 2em;
	overflow: auto;
	color: #515151;
}

.transaction-date {
	float: right;
	margin-bottom: .5em;
	overflow: auto;
}

.transaction-amount {
	float: left;
	margin: 0;
	margin-bottom: .5em;
	overflow: auto;
}

.transaction-description {
	float: left;
	clear: both;
	padding-left: 1.5em;
	overflow: auto;
}
.footer {
	background-color: #515151;
	border-top: 2px solid grey;
	
}
.footer, .push {
	width: 100%;
	height: 100px;
	clear: both;
	position: relative;
	bottom: 0;
	margin: 0;
}

.footer-notes { 
	margin-top: 5em;
	color: white; 
	font-family: Lato, Arial;
	font-size: 55%;
}

input[type="number"], input[type="date"], textarea {
	font-size: 115%;
	padding: 2px;
}

.soft-padding-all, .soft-padding-top {padding-top: .5em; }
.soft-padding-all, .soft-padding-bottom {padding-bottom: .5em; }
.soft-padding-all, .soft-padding-left {padding-left: .5em; }
.soft-padding-all, .soft-padding-right {padding-right: .5em; }

.hard-padding-all, .hard-padding-top {padding-top: 1em; }
.hard-padding-all, .hard-padding-bottom {padding-bottom: 1em; }
.hard-padding-all, .hard-padding-left {padding-left: 1em; }
.hard-padding-all, .hard-padding-right {padding-right: 1em; }

.soft-margin-all, .soft-margin-top { margin-top: .5em; }
.soft-margin-all, .soft-margin-bottom { margin-bottom: .5em; }
.soft-margin-all, .soft-margin-left { margin-left: .5em; }
.soft-margin-all, .soft-margin-right { margin-right: .5em; }

.hard-margin-all, hard-margin-top { margin-top: 1em; }
.hard-margin-all, hard-margin-bottom {margin-bottom: 1em; }
.hard-margin-all, hard-margin-left {margin-left: 1em; }
.hard-margin-all, hard-margin-right {margin-right: 1em; }

.extra-hard-margin-top {margin-top: 2em;}
.extra-hard-margin-right {margin-right: 2em;}
.extra-hard-margin-bottom {margin-bottom: 2em;}
.extra-hard-margin-left {margin-left: 2em;}
